.free-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.free-content {
    width: 90%;
}

.free-search__container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.free-search__content {
    display: flex;
    justify-content: space-around;
    height: 25px;
    align-content: center;
}

.free-search__input {
    width: 250px;
    font-size: 1rem;
}

.free-search__button {
    width: 30px;
    padding-top: 2px;
    margin-left: 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}